.snapshot {
    text-align: center;

}

.upload-barcode {
    max-width: 750px;
    margin-inline: auto;
    position: relative;
    min-height: 260px;
    min-width: 300px;


    .upload {
        position: absolute;
        z-index: 100;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, .2);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    }

    ion-progress-bar {
        height: 10px;
    }
}