.snapshot {
    text-align: center;

}

.upload-barcode {
    max-width: 750px;
    margin-inline: auto;

    ion-col {
        display: grid;
    }

    .barcode {
        position: relative;
        min-height: 260px;
        min-width: 300px;
        border-radius: 5px;
        overflow: hidden;

        .barcode__image {
            min-height: inherit;
            min-width: inherit;
            border-radius: inherit;
        }
    }



    ion-progress-bar {
        height: 10px;
    }
}