<ion-content class="ion-padding">
  <div class="login">
    <div class="container">
      <div class="login_image">
        <ion-img src="./assets/images/login.png" alt="logging in"> </ion-img>
      </div>

      <ng-container *ngIf="isLoggingIn">
        <div class="ion-text-center">
          <ion-spinner color="primary"></ion-spinner>
          <p>logging in..</p>
        </div>
      </ng-container>

      <ion-text color="warning">
        <ion-icon name="alert-circle-outline" color="warning"></ion-icon>
        This form is for admin only.
      </ion-text>
      <!-- Form section -->
      <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">

        <ion-item fill="outline" class="ion-margin-vertical">
          <ion-label for="name" position="floating">Username</ion-label>
          <ion-input formControlName="name" id="name"></ion-input>
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <ion-note class="ion-no-margin" slot="error" *ngIf="f['name'].errors && f['name'].touched" color="danger">
            <ion-icon name="alert-circle-outline" color="danger" size="medium"></ion-icon>
            <span> Username is a must. </span>
          </ion-note>
        </ion-item>



        <ion-item fill="outline">
          <ion-label for="password" position="floating">Password</ion-label>
          <ion-input type="password" formControlName="password" id="password"></ion-input>
          <ion-icon name="key-outline" slot="start"></ion-icon>
          <ion-note class="ion-no-margin" slot="error" *ngIf="f['password'].errors && f['password'].touched"
            color="danger">
            <ion-icon name="alert-circle-outline" color="danger" size="medium"></ion-icon>
            <span> Password is a must. </span>
          </ion-note>
        </ion-item>

        <ion-button type="submit" [disabled]="!loginForm.valid || isLoggingIn" size="large" color="primary"
          expand="block" class="ion-margin-vertical">Log
          In</ion-button>
      </form>

      <!-- Or section -->
      <div class="or_section">
        <p class="or_text">OR</p>
      </div>


      <!-- Actions buttons -->
      <ion-grid class="ion-no-padding ion-margin-bottom">
        <ion-row class="ion-justify-content-between">
          <ion-col size="5">
            <!-- Demo button -->
            <ion-button (click)="onTryDemo()" [disabled]="isLoggingIn" size="large" color="dark" expand="block">
              <ion-text color="warning"> Try Demo </ion-text>
            </ion-button>
          </ion-col>
          <ion-col size="5">

            <ion-button [disabled]="isLoggingIn" routerLink="/manual-generator" type="button" size="large"
              expand="block" color="primary" fill="solid">
              <ion-text color="light" class="ion-text-capitalize"> Manual </ion-text>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="app ion-text-center">
      <div class="app_title">
        <ion-icon name="barcode-outline"></ion-icon>
        Barcode Finder
      </div>
      <div class="app_verion">
        <ion-text color="warning">Version 1.0</ion-text>
      </div>
    </div>
  </div>
</ion-content>