<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="position-absolute">
      <ion-back-button defaultHref="/supplier/{{transfer?.supplier_id}}"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="!isloading" class="ion-text-center ion-no-padding">GT-{{transfer?.gt}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-margin-top">
  <div class="container" *ngIf="!isloading">

    <ion-card>
      <ion-card-content>
        <ngx-barcode class="ngx-barcode" [bc-height]="90" bc-element-type="img"
          [bc-value]="'NA' + transfer?.branch?.branch_code +'-BT-' + transfer?.bt"
          [bc-display-value]="true"></ngx-barcode>
      </ion-card-content>
    </ion-card>

    <ion-card class="ion-margin-top">
      <ion-card-header class="ion-no-margin">
        <ion-card-title>From: {{ transfer.branch?.name}} Warehouse</ion-card-title>
        <ion-card-subtitle>Date: {{ transfer?.created_at | date:'shortDate':'dd/MM/YYYY'}}</ion-card-subtitle>

      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-list-header class="ion-no-padding">
            <h3>Items:</h3>
          </ion-list-header>
          <ion-list-header class="ion-no-padding">
            <ion-row class="ion-justify-content-between w-100">
              <ion-col size="5">
                <p>LOT</p>
              </ion-col>
              <ion-col size="5">
                <p class="ion-text-end ion-padding-end">QTY</p>
              </ion-col>
            </ion-row>
          </ion-list-header>
          <ion-item *ngFor="let item of transfer?.items" class="ion-no-padding">
            <ion-row class=" ion-justify-content-between w-100">
              <ion-col size="5">
                <p>{{item.lot}}</p>
              </ion-col>
              <ion-col size="5">
                <p class="ion-text-end">{{item.qty}}</p>
              </ion-col>
            </ion-row>

          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <div class="row justify-content-end">
      <div class="">
        <ion-button shape="round" class="ion-margin-end" (click)="onEdit(transfer)">Edit</ion-button>
        <ion-button shape="round" color="danger" (click)="onDelete(transfer)">Delete</ion-button>
      </div>
    </div>
  </div>
</ion-content>