<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="position-absolute">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center ion-no-padding">GSK</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">
  <ion-fab slot="fixed" vertical="top" horizontal="end" [edge]="true" (click)="onAdd()">
    <ion-fab-button type="button">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <span class="sr-only">Add button</span>
  </ion-fab>
  <ion-row class="ion-margin-top">
    <ion-col size="12" size-md="2"></ion-col>
    <ion-col size="12" size-md="8">
      <ion-searchbar placeholder="Search barcode here"></ion-searchbar>

      <div class="ion-no-padding ion-no-margin">
        <ion-list>
          <ion-item-sliding>
            <ion-item button detail="true" lines="full" (click)="goToItemDetails(transfer)">
              <ion-thumbnail slot="start">
                <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
              </ion-thumbnail>
              <ion-label>
                <h3 class="ion-margin-bottom">Gt-123456</h3>
                <p>01/10/23</p>
              </ion-label>
            </ion-item>

            <ion-item-options side="end">
              <ion-item-option color="primary" (click)="onEdit()">
                <ion-icon slot="icon-only" name="create-outline"></ion-icon>
              </ion-item-option>
              <ion-item-option color="danger" (click)="onDelete()">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-item-option>
            </ion-item-options>

          </ion-item-sliding>

          <ion-item-sliding>
            <ion-item button detail="true" lines="full">
              <ion-thumbnail slot="start">
                <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
              </ion-thumbnail>
              <ion-label>
                <h3 class="ion-margin-bottom">Gt-123456</h3>
                <p>01/10/23</p>
              </ion-label>
            </ion-item>

            <ion-item-options side="end">
              <ion-item-option color="primary" (click)="onEdit()">
                <ion-icon slot="icon-only" name="create-outline"></ion-icon>
              </ion-item-option>
              <ion-item-option color="danger" (click)="onDelete()">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-item-option>
            </ion-item-options>

          </ion-item-sliding>

          <ion-item-sliding>
            <ion-item button detail="true" lines="full">
              <ion-thumbnail slot="start">
                <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
              </ion-thumbnail>
              <ion-label>
                <h3 class="ion-margin-bottom">Gt-123456</h3>
                <p>01/10/23</p>
              </ion-label>
            </ion-item>

            <ion-item-options side="end">
              <ion-item-option color="primary" (click)="onEdit()">
                <ion-icon slot="icon-only" name="create-outline"></ion-icon>
              </ion-item-option>
              <ion-item-option color="danger" (click)="onDelete()">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-item-option>
            </ion-item-options>

          </ion-item-sliding>
        </ion-list>
      </div>
    </ion-col>
    <ion-col size="12" size-md="2"></ion-col>
  </ion-row>


</ion-content>